body {
    background-image: url('img/background.jpg');
}
.box {
    display: flex;
    flex-direction: column; 
    justify-content: center;;
    border: 1px solid none;
    border-radius: 5px;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #00000062;
}
#resposta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#head{
    color: #e0e0e0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;   
}
.numero_pergunta{
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    margin-top: 30px;
}
.titulo{
    color: #e0e0e0;
    margin-left: 25%;
    margin-top: 100px;
    font-weight: lighter;
    font-family: Neogrotesk Small Caps Black;
    font-size: 50px;
}
#numero{
    border: 1px solid #e0e0e000;
    border-radius: 5px;
    padding-inline: 10px;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 0px;
    background-color: orange;
    font-family: Neogrotesk Small Caps Black;
}
#pergunta{
    border: 1px solid #e0e0e000;
    border-radius: 5px;
    padding-inline: 10px;
    font-size: 25px;
    background-color: rgba(255, 166, 0, 0);
    font-family: Neogrotesk Small Caps Black;
    font-weight: bolder;
}
#btn{
    border: 1px solid #493e3e;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-family: Neogrotesk Small Caps Black;
    font-weight: bolder;
    background: none;
    padding-left: 30px;
    color: #e0e0e0;
    text-align: left;
}
#btn:hover{
    background-color: #493e3e;
    color: #e0e0e0;
    cursor: pointer;
}
.numero_pergunta{
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    margin-top: 30px;
}

.numero_pergunta #but{
    border: 1px solid orange;
    margin-inline: 5px;
    background-color: #493e3e00;
    color: #e0e0e0;
    border-radius: 5px;

}

 .numero_pergunta #seta{
    background-color: rgba(250, 235, 215, 0);
    border : none;
    border-color: none;
}
.numero_pergunta #but:hover{
    background-color: orange;
    color: #e0e0e0;
    cursor: pointer;
}
.numero_pergunta #seta:hover{
    background-color: rgba(252, 143, 0, 0.712);
    cursor: pointer;
}

.numero_pergunta #but_sec{
    border: 1px solid orange;
    margin-inline: 5px;
    background-color: #493e3e00;
    color: #e0e0e0;
    border-radius: 5px;
    background-color: orange;
}
#btn_v{
    border: 1px solid #493e3e;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-family: Neogrotesk Small Caps Black;
    font-weight: bolder;
    background: none;
    padding-left: 30px;
    color: #e0e0e0;
    text-align: left;
}
#btn_v:hover{
    background-color: #493e3e;
    color: #e0e0e0;
    cursor: pointer;
}
#btn2{
    border: 1px solid #493e3e;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-family: Neogrotesk Small Caps Black;
    font-weight: bolder;
    background: none;
    padding-left: 30px;
    color: #e0e0e0;
    text-align: left;
}
#btn2:hover{
    background-color: #493e3e;
    color: #e0e0e0;
    cursor: pointer;
}
#btn3{
    border: 1px solid #493e3e;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-family: Neogrotesk Small Caps Black;
    font-weight: bolder;
    background: none;
    padding-left: 30px;
    color: #e0e0e0;
    text-align: left;
}
#btn3:hover{
    background-color: #493e3e;
    color: #e0e0e0;
    cursor: pointer;
}
.numero_pergunta #but_2{
    border: 1px solid orange;
    margin-inline: 5px;
    background-color: #493e3e00;
    color: #e0e0e0;
    border-radius: 5px;

}.numero_pergunta #but_3{
    border: 1px solid orange;
    margin-inline: 5px;
    background-color: #493e3e00;
    color: #e0e0e0;
    border-radius: 5px;

}
.numero_pergunta #but_3:hover{
    background-color: orange;
    color: #e0e0e0;
    cursor: pointer;
}
.numero_pergunta #but_2:hover{
    background-color: orange;
    color: #e0e0e0;
    cursor: pointer;
}
#finalizar #btn_finalizar{
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
    font-family: Neogrotesk Small Caps Black;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -40px;
    margin-left: 65%;
    background-color: #493e3e00;
    color: #e0e0e0;
}
#finalizar #btn_finalizar:hover{
    background-color: orange;
    color: #e0e0e0;
    cursor: pointer;
}
#parabens{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
    font-size: 50px;
    font-family: Neogrotesk Small Caps Black;
    margin-top: 100px;
    border: 1px solid none;
}
#img{
    margin-left: 37%;
}